USE [master]
GO
/****** Object:  Database [Fastfood]    Script Date: 15.01.2024 16:24:29 ******/
CREATE DATABASE [Fastfood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fastfood', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Fastfood.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fastfood_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Fastfood_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fastfood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fastfood]
GO
/****** Object:  Table [dbo].[Kategorie]    Script Date: 15.01.2024 16:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kategorie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 15.01.2024 16:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
	[Kategoria] [int] NOT NULL,
	[Cena] [numeric](5, 2) NOT NULL,
	[Zdjecie] [nvarchar](100) NOT NULL,
	[Dostepnosc] [bit] NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SzczegolyZamowienia]    Script Date: 15.01.2024 16:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SzczegolyZamowienia](
	[ZamowienieID] [int] NOT NULL,
	[ProduktID] [int] NOT NULL,
	[Ilosc] [int] NOT NULL,
	[Przygotowane] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uzytkownicy]    Script Date: 15.01.2024 16:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uzytkownicy](
	[Login] [nvarchar](30) NOT NULL,
	[Haslo] [nvarchar](30) NOT NULL,
	[Rola] [int] NOT NULL,
 CONSTRAINT [PK_Uzytkownicy] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zamowienia]    Script Date: 15.01.2024 16:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zamowienia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Data] [date] NOT NULL,
	[Godzina] [time](7) NOT NULL,
	[NaWynos] [bit] NOT NULL,
	[Zrealizowano] [bit] NOT NULL,
 CONSTRAINT [PK_Zamowienia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kategorie] ON 

INSERT [dbo].[Kategorie] ([ID], [Nazwa]) VALUES (1, N'Burgery')
INSERT [dbo].[Kategorie] ([ID], [Nazwa]) VALUES (2, N'Kawałki kurczaka')
INSERT [dbo].[Kategorie] ([ID], [Nazwa]) VALUES (3, N'Wrapy')
SET IDENTITY_INSERT [dbo].[Kategorie] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Nazwa], [Kategoria], [Cena], [Zdjecie], [Dostepnosc]) VALUES (1, N'Grand Mac', 1, CAST(23.00 AS Numeric(5, 2)), N'grandMac.png', 1)
INSERT [dbo].[Menu] ([ID], [Nazwa], [Kategoria], [Cena], [Zdjecie], [Dostepnosc]) VALUES (2, N'Double Grand Mac', 1, CAST(28.00 AS Numeric(5, 2)), N'doubleGrandMac.png', 1)
INSERT [dbo].[Menu] ([ID], [Nazwa], [Kategoria], [Cena], [Zdjecie], [Dostepnosc]) VALUES (3, N'Zing King', 1, CAST(20.00 AS Numeric(5, 2)), N'zingKing.png', 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
INSERT [dbo].[SzczegolyZamowienia] ([ZamowienieID], [ProduktID], [Ilosc], [Przygotowane]) VALUES (14, 1, 1, 1)
INSERT [dbo].[SzczegolyZamowienia] ([ZamowienieID], [ProduktID], [Ilosc], [Przygotowane]) VALUES (14, 13, 1, 1)
INSERT [dbo].[SzczegolyZamowienia] ([ZamowienieID], [ProduktID], [Ilosc], [Przygotowane]) VALUES (14, 6, 1, 1)
GO
INSERT [dbo].[Uzytkownicy] ([Login], [Haslo], [Rola]) VALUES (N'Admin', N'Admin', 1)
INSERT [dbo].[Uzytkownicy] ([Login], [Haslo], [Rola]) VALUES (N'Pracownik', N'Pracownik123!@', 2)
GO
SET IDENTITY_INSERT [dbo].[Zamowienia] ON 

INSERT [dbo].[Zamowienia] ([ID], [Data], [Godzina], [NaWynos], [Zrealizowano]) VALUES (14, CAST(N'2023-12-19' AS Date), CAST(N'22:13:31.6200000' AS Time), 1, 1)
INSERT [dbo].[Zamowienia] ([ID], [Data], [Godzina], [NaWynos], [Zrealizowano]) VALUES (15, CAST(N'2023-12-19' AS Date), CAST(N'22:14:24.5600000' AS Time), 1, 1)
INSERT [dbo].[Zamowienia] ([ID], [Data], [Godzina], [NaWynos], [Zrealizowano]) VALUES (16, CAST(N'2023-12-21' AS Date), CAST(N'17:54:03.2800000' AS Time), 1, 1)
SET IDENTITY_INSERT [dbo].[Zamowienia] OFF
GO
/****** Object:  Index [IX_Menu]    Script Date: 15.01.2024 16:24:30 ******/
CREATE NONCLUSTERED INDEX [IX_Menu] ON [dbo].[Menu]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Kategorie] FOREIGN KEY([Kategoria])
REFERENCES [dbo].[Kategorie] ([ID])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Kategorie]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Menu] FOREIGN KEY([ID])
REFERENCES [dbo].[Menu] ([ID])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Menu]
GO
ALTER TABLE [dbo].[SzczegolyZamowienia]  WITH CHECK ADD  CONSTRAINT [FK_SzczegolyZamowienia_Zamowienia] FOREIGN KEY([ZamowienieID])
REFERENCES [dbo].[Zamowienia] ([ID])
GO
ALTER TABLE [dbo].[SzczegolyZamowienia] CHECK CONSTRAINT [FK_SzczegolyZamowienia_Zamowienia]
GO
USE [master]
GO
